<%- include("header")-%>

<main>
    <section class="container">
        <aside class="vertical-ads">ads</aside>
        <section class="content">
            <h2 class="left-align">សុំអធ្យាស្រ័យ!</h2>
            <p>ពួកយើងកំពុងជួបបញ្ហា។ ពួកយើងនឹងព្យាយាមជួសជុលនិងដោះស្រាយឲ្យបានលឿនជាទីបំផុត។</p>
        </section>
    </section>
</main>