<nav>
    <ul>
        <% for(var i=0; i < gradeList.length; i++) { %>
            <li><a href="/grade/<%= gradeList[i].grade_id %>"><%= gradeList[i].grade_name %></a></li>
        <% } %>
    </ul>
</nav>